/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================== GLOBAL VARIABLES ==========================================*/
:root {
    --mainBodyColor: #191919;
    --mainTextColor: #c0c0c0;
    --mainGreyColor: #505559;
    --mainLetterSpacing: 0.1rem;
    --mainLineHeight: 2.0em;
    --mainTransition: all 0.3s ease-in-out;
    --mainBoxShadow: 3px 3px 5px rgba(0,0,0,0.8);
    --mainBorderRadius: 1rem;
}
/*  ==================== GLOBAL BODY STYLES  =====================================*/
body {
    background: var(--mainBodyColor);
    color: var(--mainTextColor);
    letter-spacing: var(--mainLetterSpacing);
    line-height: var(--mainLineHeight);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* =========== MAIN SECTION STYLES ============================================*/

main {
    /* border: 1px solid blue; */
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

/* ======= HEADER IMAGE STYLES =====================================*/

.main-image {
   /* border: 1px solid blue; */
  box-shadow: 2px 2px 20px rgba(78, 78, 78, 0.8);

}
img {
    display: block;
    width: 60vw;
    box-shadow: var(--mainBoxShadow);
    border-radius: 0.2rem;
    margin: 0 0 1rem 0;
    outline-style: solid;
    outline-color: #c0c0c0;
    outline-width: thin;
}

img:hover{
    transition: var(--mainTransition);
    transform: scale(1.03);
}

/* ========== NAV BAR STYLES =============================================== */

.nav {
    outline-color: var(--mainTextColor);
    outline-style: double ;
    display: flex;
    width: 60vw;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    font-size: 4rem;
    background: var(--mainGreyColor);
    box-shadow: var(--mainBoxShadow);
    border-radius: 0.2rem;
}

.nav:hover{
    transition: var(--mainTransition);
    transform: scale(1.03);
}

/* ========== ICON STYLES ========================================================= */

i {
    box-shadow: var(--mainBoxShadow);
    color: var(--mainTextColor);
}

.fa-brands {
    text-shadow: var(--mainBoxShadow);
}
.fa-solid {
    text-shadow: var(--mainBoxShadow);
}


    


    
    


    
    
   
    


