* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL VARIABLES */
:root {
    --mainBodyColor: #191919;
    --mainTextColor: #c0c0c0;
    --mainGreyColor: #505559;
    --mainLetterSpacing: 0.1rem;
    --mainLineHeight: 2.0em;
    --mainTransition: all 0.3s ease-in-out;
    --mainBoxShadow: 3px 3px 5px rgba(0,0,0,0.8);
    --mainBorderRadius: 1rem;
}

body {
    background: var(--mainBodyColor);
    color: var(--mainTextColor);
    letter-spacing: var(--mainLetterSpacing);
    line-height: var(--mainLineHeight);
}

/* MAIN SECTION STYLES */

main {
    /* border: 1px solid blue; */
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}


    
    
@media screen and (min-width: 360px){
.main-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid blue; */
    background-image: url('./assets/portfolio-header-img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 4rem;
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    border-radius: var(--mainBorderRadius);
    box-shadow:1px 1px 10px rgba(75, 75, 75, 0.8);
}
}
    

    
   
@media screen and (min-width: 360px) {
.nav {
    background: var(--mainGreyColor);
    display: flex;
    width: 90vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--mainBorderRadius);
    translate: 0 -2rem;
}  
}


@media screen and (min-width: 360px){
nav i{
    font-size: 1.5rem;
    color: var(--mainTextColor);
    box-shadow: var(--mainBoxShadow);
}
}

    
    


    
    
   
    


